<a href="https://colab.research.google.com/github/SharonCao0920/AI/blob/main/CS483_Lab_quiz1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#quiz1
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style

record = {'ID':[12345, 12346, 12347, 12348, 12349, 12350, 12351, 12352, 12353, 12354],
             'Name':['John','Mike','Jim','Peter','Jack', 'Andrew','Adam','Jeff', 'David', 'Kevin'],
             'GPA':[3.5, 3.45, 2.95, 3.12, 2.65, 3.01, 3.70, 2.89, 3.34, 3.82]}

df=pd.DataFrame(record)
print(df)
print('--------------------------------------')
df.set_index('GPA',inplace=True)
print(df)

#3.Generate time series from 7/1/2020 to 8/1/2020
#d = {'Date':[pd.date_range("1-Jul-2020", "1-Aug-2020", freq="D")]}
d = pd.date_range("1-Jul-2020", "1-Aug-2020", freq="D", name='Date')
df1 = pd.DataFrame(d)
print('------------------------------------------------')
print(df1)

#4. Add one more column for studentâ€™s major BSCS or MSCS
record.update({'Major': 
               ['BSCS','MSCS','BSCS', 'MSCS','BSCS','MSCS', 'MSCS', 'MSCS', 'BSCS', 'BSCS']})

df=pd.DataFrame(record)
print('------------------------------------------------')
print(df)

      ID    Name   GPA
0  12345    John  3.50
1  12346    Mike  3.45
2  12347     Jim  2.95
3  12348   Peter  3.12
4  12349    Jack  2.65
5  12350  Andrew  3.01
6  12351    Adam  3.70
7  12352    Jeff  2.89
8  12353   David  3.34
9  12354   Kevin  3.82
--------------------------------------
         ID    Name
GPA
3.50  12345    John
3.45  12346    Mike
2.95  12347     Jim
3.12  12348   Peter
2.65  12349    Jack
3.01  12350  Andrew
3.70  12351    Adam
2.89  12352    Jeff
3.34  12353   David
3.82  12354   Kevin
------------------------------------------------
         Date
0  2020-07-01
1  2020-07-02
2  2020-07-03
3  2020-07-04
4  2020-07-05
5  2020-07-06
6  2020-07-07
7  2020-07-08
8  2020-07-09
9  2020-07-10
10 2020-07-11
11 2020-07-12
12 2020-07-13
13 2020-07-14
14 2020-07-15
15 2020-07-16
16 2020-07-17
17 2020-07-18
18 2020-07-19
19 2020-07-20
20 2020-07-21
21 2020-07-22
22 2020-07-23
23 2020-07-24
24 2020-07-25
25 2020-07-26
26 2020-07-27
27 2020-07-28
28 2020-07-29
29 2020-07-30
30 2020-07-31
31 2020-08-01
------------------------------------------------
      ID    Name   GPA Major
0  12345    John  3.50  BSCS
1  12346    Mike  3.45  MSCS
2  12347     Jim  2.95  BSCS
3  12348   Peter  3.12  MSCS
4  12349    Jack  2.65  BSCS
5  12350  Andrew  3.01  MSCS
6  12351    Adam  3.70  MSCS
7  12352    Jeff  2.89  MSCS
8  12353   David  3.34  BSCS
9  12354   Kevin  3.82  BSCS